[user]
	email = arto@bendiken.net
	name = Arto Bendiken
	signingkey = 748B3546

[svn]
	authorsfile = /home/arto/.svnauthors

[alias]
	co = checkout
	ci = commit
	st = status
	stat = diff --name-status -r

[color]
	diff = true
	grep = true
	status = true

[push]
	default = upstream
