[user]
	email = arto@bendiken.net
	name = Arto Bendiken
	signingkey = 748B3546

[svn]
	authorsfile = /home/arto/.svnauthors

[alias]
	co = checkout
	ci = commit
	edit = commit --amend --reset-author
	ls = log --pretty=oneline
	st = status
	stat = diff --name-status -r
	undo = reset --soft HEAD^

[color]
	diff = true
	grep = true
	status = true

[init]
	defaultBranch = master

[push]
	default = upstream

[core]
	pager = less -R

[pull]
	ff = only
