# See: https://docs.npmjs.com/cli/v11/using-npm/config

prefix = ${HOME}/.npm-global

; See: https://docs.npmjs.com/cli/v11/using-npm/config#allow-git
allow-git = none

; See: https://docs.npmjs.com/cli/v11/using-npm/config#min-release-age
min-release-age = 3
